@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #EFF1F2;
  --scrollbar-width: 8px;
}

body {
  background: var(--background-color)
}

.thin-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: var(--scrollbar-width);
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: var(--scrollbar-width);
}

.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}